[MAIN]
ignore=
    _version.py,
    sculib.py, 
    cam_sensors.py,
    hdf5_to_csv.py,
    hdf5_to_graph.py,
    logger.py,
    reader.py,
    serval_internal_server.py,
    server_validator.py,

extension-pkg-allow-list=PyQt6

[FORMAT]
max-line-length = 88

[MESSAGES CONTROL]
disable=
    import-error,       # issue with PyQt6 import in CI environment
    no-name-in-module,  # issue with PyQt6 import in CI environment
    duplicate-code,
    fixme,

; enable=
;     useless-suppression,

[SIMILARITIES]
min-similarity-lines=7
ignore-imports=yes